<?php

const AUTHORIZE_URL = 'https://eu.battle.net/oauth/authorize';  // https://<region>.battle.net/oauth/authorize
const TOKEN_URL     = 'https://eu.battle.net/oauth/token';      // https://<region>.battle.net/oauth/token
const API_URL       = 'https://eu.api.battle.net';              // https://<region>.api.battle.net
const CLIENT_ID     = 'YourClientID';                           // Available on https://dev.battle.net/apps/mykeys
const CLIENT_SECRET = 'YourClientSecret';                       // Available on https://dev.battle.net/apps/mykeys
const REDIRECT      = 'https://my.domain.tld/path/to/callback'; // Path to the callback.php script (must be a valid HTTPS and match to the callback url of your application)
const HUB           = 'http://my.other.domain.tld';             // URL of the Hub
const LOCALE        = 'en_US';
const SCOPE         = 'wow.profile';
