{% extends "layout.html.twig" %}

{% block title %}Error - {{ parent() }}{% endblock %}

{% block content %}

<h1>Oops!</h1>
<hr>
<p class="lead">An error occurred.</p>
<p>If the problem persists, contact the developer on the project page here: <a href="https://github.com/TrAsKiN/my-wow-hub/issues">https://github.com/TrAsKiN/my-wow-hub/issues</a></p>

{% endblock %}
