<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}WoW{% endblock %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
        <link rel="stylesheet" href="./templates/default.css">

        <link rel="icon" type="image/x-icon" href="./favicon.ico">
    </head>
    <body>
        <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
            <div class="container">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#toggleNavbar">&#9776;</button>
                <div class="collapse navbar-toggleable-xs" id="toggleNavbar">
                    <a class="navbar-brand" href="./">Mon WoW</a>
                    <ul class="nav navbar-nav">
                        {% if guilds is not empty %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" type="button" id="myGuilds" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mes guildes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="myGuilds">
                                {% for guild, realm in guilds if realm is not empty %}
                                <a class="dropdown-item" href="./guild.php?realm={{ realm|url_encode }}&amp;name={{ guild|url_encode }}">{{ guild }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% endif %}
                        {% if battleTag is defined %}
                        <li class="nav-item dropdown pull-xs-right">
                            <a href="#" class="nav-link dropdown-toggle" type="button" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ (battleTag is defined) ? battleTag }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="account">
                                <a class="dropdown-item" href="./logout.php">Déconnexion</a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main" class="container">

            {% block content %}{% endblock %}

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
        <script type="text/javascript" src="http://static.wowhead.com/widgets/power.js"></script>
    </body>
</html>
