{% extends 'base.html.twig' %}

{% block title %}Characters - {{ parent() }}{% endblock %}

{% block body %}
<h1>Characters</h1>
<p>Your account does not have a character or you have not logged in for a long time.</p>
{% endblock %}
