{% extends "layout.html.twig" %}

{% block title %}Characters - {{ parent() }}{% endblock %}

{% block content %}

<h1>Characters</h1>
<hr>
<p>Here are the characters of your account grouped realm.</p>

{% set oldRealm = {} %}

{% for realm in characters %}

{% set actualRealm = realm.realm %}

{% if actualRealm not in oldRealm %}

<h2>{{ actualRealm }}</h2>
<div class="row">

    {% for character in characters if character.realm == actualRealm %}

    {% include 'character.html.twig' with {'character': character} %}

    {% endfor %}

</div>

{% endif %}

{% set oldRealm = oldRealm|merge([actualRealm]) %}

{% endfor %}

{% endblock %}
